<div class="container">
  <div class="row">
    <div class="col-9 m-auto mt-4 border border-primary rounded p-4 bg-light">
      <form>
        <div class="row">
          <div class="col-12">
            <h1 class="text-center text-primary text-uppercase fw-bold">
              Produtos
            </h1>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-3">
            <div>
              <label for="inputID" class="form-label">ID</label>
              <input type="text" class="form-control" id="inputID" />
            </div>
          </div>
          <div class="col-9">
            <div>
              <label for="inputNome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="inputNome" />
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div>
            <label for="textareaDescricao" class="form-label">Descrição</label>
            <textarea
              class="form-control"
              id="textareaDescricao"
              rows="3"
            ></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6">
            <div>
              <label for="inputPreco" class="form-label">Preço</label>
              <input type="number" class="form-control" id="inputPreco" />
            </div>
          </div>
          <div class="col-6">
            <div>
              <label for="inputQuantidade" class="form-label">Quantidade</label>
              <input type="number" class="form-control" id="inputQuantidade" />
            </div>
          </div>
        </div>

        <div class="d-grid gap-2">
          <button
            type="submit"
            class="btn btn-primary fs-5 fw-bold text-uppercase"
          >
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
