<div class="container">
  <div class="row">
    <div class="col-9 m-auto mt-4 border border-primary rounded p-4 bg-light">
      <form [formGroup]="formGroupProduct">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center text-primary text-uppercase fw-bold">
              Produtos
            </h1>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div>
              <label for="inputNome" class="form-label">Nome</label>
              <input
                type="text"
                class="form-control"
                id="inputNome"
                formControlName="name"
              />
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div>
            <label for="textareaDescricao" class="form-label">Descrição</label>
            <textarea
              class="form-control"
              id="textareaDescricao"
              rows="3"
              formControlName="description"
            ></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6">
            <div>
              <label for="inputPreco" class="form-label">Preço</label>
              <input
                type="number"
                class="form-control"
                id="inputPreco"
                formControlName="price"
              />
            </div>
          </div>
          <div class="col-6">
            <div>
              <label for="inputQuantidade" class="form-label">Quantidade</label>
              <input
                type="number"
                class="form-control"
                id="inputQuantidade"
                formControlName="quantity"
              />
            </div>
          </div>
        </div>

        <div class="d-grid gap-2">
          <button
            type="submit"
            class="btn btn-primary fs-5 fw-bold text-uppercase"
            (click)="save()"
          >
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-9 m-auto mt-4 border border-primary rounded p-4 bg-light">
      <h1 class="fw-bold text-uppercase text-center text-primary">Produtos</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Quantidade</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>
              <button type="submit" class="btn btn-danger me-2" (click)="delete(product)">Remover</button>
              <button type="submit" class="btn btn-primary" (click)="edit(product)">Alterar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
